<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pi.wechat-manager</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>--loader</string>
        <string>tsx</string>
        <string>DAEMON_PATH_PLACEHOLDER</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>HOME_PLACEHOLDER/.pi/agent/extensions/pi-wechat-manager</string>
    <key>StandardOutPath</key>
    <string>HOME_PLACEHOLDER/.pi/agent/pi-wechat-manager/daemon.log</string>
    <key>StandardErrorPath</key>
    <string>HOME_PLACEHOLDER/.pi/agent/pi-wechat-manager/daemon.log</string>
</dict>
</plist>
